.scrollable-slide {
    height: 40pc;
    overflow-y: auto !important;
}

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

.scrollable {
  height: 80%;
  overflow-y: auto;
}
