.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}


.scrollable {
  height: 500px;
  overflow-y: auto;
}


.scrollable-auto {
  height: 80%;
  overflow-y: auto;
}

.remark-slide-scaler {
    overflow-y: auto;
}

.page-font-large {
  font-size: 28px;
}

.page-font-huge {
  font-size: 42px;
}

.small {
  font-size: 70%;
}

.gray{
  color: grey;
}

.blue{
  color: blue;
}

.red{
  color: red;
}

.bg-yellow{
  background: yellow;
}
